a {
    font-family:Impact, Haettenschweiler, ‘Arial Narrow Bold’, sans-serif;
    text-decoration: none;
    color:white;
    letter-spacing:2;
    font-size:25px;
    }
h3{
    font-family:Impact, Haettenschweiler, ‘Arial Narrow Bold’, sans-serif;
    font-size:25px;
    margin-top:5px;
    letter-spacing:2px;
}


body{
   background-repeat:no-repeat;
   background-size: 100% 100%;
      }


.ico{
  width:15px;
  height:15px;}



.menuDiv {
   overflow: hidden;
   display:inline-block;
    }
.menuDiv a {
   text-decoration: none;
    }
.menuDiv ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    }
.menuDiv li {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 25%;
    }
.menuDiv > ul > li > ul {
   position: absolute;
   display: none;
    }
.menuDiv > ul > li > ul > li {
   float: none;
    }
.menuDiv > ul > li:hover ul {
   display: block;
    }
.menuDiv > ul > li > a {
     width: 470px;
     line-height: 40px;
     color: white;
     background-color: #444444;
     text-align: center;
     display: block;
    }
.menuDiv > ul > li > a:hover {
     color: #444444;
     background-color: #DDDDDD;
    }
.menuDiv > ul > li > ul > li > a {
    width: 470px;
    line-height: 36px;
    color: white;
    background-color: #444444;
    text-align: center;
    display: block;
    }
.menuDiv > ul > li > ul > li > a:hover {
    color: #444444;
    background-color: #DDDDDD;
    }




.footer2{
    position:fixed;
    background-color:#444444;
    color:#FFFFFF;
    text-align:right;
    bottom:0px;
    width:100%;
    height:5%;
    }





div.background
{
  width: 1200px;
  height: 680px;
  margin-left:320px;
  margin-top:50px;
  border: 1px solid black;
}

div.transbox
{
  width: 1100px;
  height: 635px;
  margin-top:100px;
  margin-left:370px;
  padding:0;
  background-color: #ffffff;
  border: 1px solid black;
  filter:alpha(opacity=60);
  opacity:0.6;
}

div.transbox p
{
  color: #000000;
  font:bold 30px Verdana, Geneva, sans-serif;
  line-height:1.5;
}
div.user{
  margin:60px 60px;}
div.Input1{
  margin:-340px 400px;}

input{
  width:500px;
  height:70px;
  padding:1.5;
  border:100px;
  float:left;
  margin-top:35px;
  border:1px solid black;
  border-radius:15px;
  }
button{
  width:200px;
  height:70px;
  display:block;
  background:#DDDDDD;
  border:1px solid black;
    border-radius:15px;}