a {
    font-family:Impact, Haettenschweiler, ‘Arial Narrow Bold’, sans-serif;
    text-decoration: none;
    color:white;
    letter-spacing:1;
    font-size:25px;
    }
h3{
    font-family:Impact, Haettenschweiler, ‘Arial Narrow Bold’, sans-serif;
    font-size:20px;
    margin-top:5px;
    letter-spacing:2px;
}


body{
   background-repeat:no-repeat;
   background-size: 100% 100%;
      }

.ico{
  width:15px;
  height:15px;}




.menuDiv {
    overflow: hidden;
    display:inline-block;

    }


.menuDiv a {
    text-decoration: none;
    }


.menuDiv ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    }
.menuDiv li {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 25%;
    }

.menuDiv > ul > li > ul {
    position: absolute;
    display: none;
    }
.menuDiv > ul > li > ul > li {
    float: none;
    }
.menuDiv > ul > li:hover ul {
   display: block;
    }
.menuDiv > ul > li > a {
   width: 464px;
   line-height: 40px;
   color: white;
   background-color: #444444;
   text-align: center;
   display: block;
    }
.menuDiv > ul > li > a:hover {
    color: #444444;
    background-color: #DDDDDD;
    }
.menuDiv > ul > li > ul > li > a {
    width: 464px;
    line-height: 36px;
    color: white;
    background-color: #444444;
    text-align: center;
    display: block;
    }
.menuDiv > ul > li > ul > li > a:hover {
   color: #444444;
   background-color: #DDDDDD;
    }



.aside2{
   overflow:hidden;
   display:block;
        }
.aside2{
   margin-top:30px;
   margin-left:50px;}
.aside2 ul,.aside2 li {
   list-style: none;
   margin: 0;
   padding: 0;
   float: left;
    }
.aside2 >ul>li>a {
   width: 480px;
   line-height: 40px;
   background-color: #FFFFFF;
   color:#444444;
   text-align: center;
   display: block;
    }


.footer2{
    background-color:#444444;
    color:#FFFFFF;
    text-align:right;
    bottom:0px;
    width:100%;
    height:5%;
    }





div.background
{
  width: 1200px;
  height: 850px;
  margin-left:320px;
  margin-top:70px;
  border: 1px solid black;
}

div.transbox
{
  width: 600px;
  height: 560px;
  margin-top:-715px;
  margin-left:545px;
  padding:0;
  background-color: #ffffff;
  border: 1px solid black;
  filter:alpha(opacity=60);
  opacity:0.6;
}
div.collect{
  width:600px;
  height:50px;
  background-color:red;
  margin-top:625px;
  margin-left:545px;
  text-align:center;
  border:1px solid black;}
div.collect2{
    width:600px;
    height:50px;
    background-color:red;
    margin-top:20px;
    margin-left:545px;
    text-align:center;
    border:1px solid black;}
.collect p{
  margin:12px 240px;
  font:bold 20px Verdana, Geneva, sans-serif;
   }
.collect2 p{
  margin:12px 180px;
  font:bold 20px Verdana, Geneva, sans-serif;
   }
div.title{
  width:600px;
  height:40px;
  margin-top:-635px;
  margin-left:545px;
  border:1px solid black;}
div.title p{
  margin:8px 240px;
  font:bold 20px Verdana, Geneva, sans-serif;}

div.transbox p
{
  margin: 30px 40px;
  color: #000000;
  font:bold 12px Verdana, Geneva, sans-serif;
  line-height:1.5;
}
div.transbox h2{
margin: 30px 40px;
  font:bold 12px Verdana, Geneva, sans-serif;}

div.DetailedImg{
  filter:alpha(opacity=60);
  opacity:1;
  margin-left:50px;
  margin-top:20px;
 }
 div.DetailedImg:hover{
   filter:alpha(opacity=60);
   opacity:0.6;
  }