a {
    font-family:Impact, Haettenschweiler, ‘Arial Narrow Bold’, sans-serif;
    text-decoration: none;
    color:white;
    letter-spacing:1;
    font-size:25px;
    }






.ico{
  width:15px;
  height:15px;}


.menuDiv {
    overflow: hidden;
    display:inline-block;

    }
.menuDiv a {
    text-decoration: none;
    }
.menuDiv ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    }
.menuDiv li {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 25%;
    }
.menuDiv > ul > li > ul {
    position: absolute;
    display: none;
    }
.menuDiv > ul > li > ul > li {
    float: none;
    }
.menuDiv > ul > li:hover ul {
    display: block;
    }
.menuDiv > ul > li > a {
    width: 464px;
    line-height: 40px;
    color: white;
    background-color: #444444;
    text-align: center;
    display: block;
    }
.menuDiv > ul > li > a:hover {
    color: #444444;
    background-color: #DDDDDD;
    }
.menuDiv > ul > li > ul > li > a {
    width: 464px;
    line-height: 36px;
    color: white;
    background-color: #444444;
    text-align: center;
    display: block;
    }
.menuDiv > ul > li > ul > li > a:hover {
    color: #444444;
    background-color: #DDDDDD;
    }



.aside1,.aside2{
    overflow:hidden;
    display:block;
    width:20%;
        }
.aside1{
    margin-top:100px;}
.aside2{
    margin-top:30px;}
.aside1 ul ,  .aside1 li,.aside2 ul,.aside2 li {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    }
.aside1 > ul > li > a,.aside2 >ul>li>a {
    width: 120px;
    line-height: 40px;
    background-color: #444444;
    text-align: center;
    display: block;
    }


.aside1 > ul > li > a:hover ,.aside2 > ul > li > a:hover{
    color: #444444;
    background-color: #DDDDDD;
 }

.GoToTop{
    position:fixed;
    right:10px;
    bottom:100px;}
.refresh{
    position:fixed;
    right:10px;
    bottom:200px;}
.GoToTop,.refresh{
    display:block;
    background-color:#444444;
    width:100px;
    height:50px;
    text-align:center;}
.GoToTop:hover,.refresh:hover{
   background-color:#FFFFFF;
   color:#444444;}



.footer2{
    background-color:#444444;
    color:#FFFFFF;
    text-align:right;
    bottom:0px;
    width:100%;
    height:5%;
    }





div.background
{
  width: 1200px;
  height: 680px;
  margin-left:300px;
  margin-top:-310px;
  border: 1px solid black;
}

